<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Estudiante</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <h3 style="color :white">CRUD ESTUDIANTE</h3>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"
                                    th:href="@{/estudiantes}">Control de estudiantes</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 85vh;">
        <div class="col-lg-7 col-md-7 col-sm-7 container justify-content-center card">
            <h1 class="text-center">Eliminar Estudiante</h1>
            <div class="card-body">

                <hr/>

                <h3 class="text-center">¿Está seguro que desea eliminar?</h3>
                <dl class="row">
                    <dt class="col-sm-4">Nombre:</dt>
                    <dd class="col-sm-8" th:text="${estudiante.nombre}"></dd>

                    <dt class="col-sm-4">Apellido:</dt>
                    <dd class="col-sm-8" th:text="${estudiante.apellido}"></dd>

                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8" th:text="${estudiante.email}"></dd>

                    <dt class="col-sm-4">Celular:</dt>
                    <dd class="col-sm-8" th:text="${estudiante.celular}"></dd>

                    <dt class="col-sm-4">Fecha Nacimiento:</dt>
                    <dd class="col-sm-8" th:text="${estudiante.fechaNacimiento}"></dd>
                </dl>

                <form th:action="@{/estudiantes/eliminarE/{id}(id=${estudiante.id})}" th:object="${estudiante}" method="post">
                    <div class="text-center">
                        <input type="submit" class="btn btn-danger" value="Eliminar"/> |
                        <a href="/estudiantes" class="btn btn-warning">Regresar a la lista</a>
                    </div>

                </form>
            </div>

        </div>
    </div>


</div>

</body>
</html>